html body {
	background-image: url('assets/img/view.jpg');
	width: 1000px
}

#profile {
	border-radius: 50%;
	margin-top: 50px;
	margin-left: 600px;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	font-size: 50px;
	margin-left: 350px;
	text-align: center;
	color: #333;
}

span {
	color: #000;
}

p {
	color: #000;
	font-size: 20px;
	margin-left: 350px;
	text-align: center;
}

a img {
	height: 25px;
	margin-top: 40px;
	margin-left: 630px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100px;
	background-color: #333;
	width: 100%;
}

